{
  "printWidth": 200,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
}
